.content>.than9>.ruka>.row>.col>ul>li>a
       {
    text-align: center;
    background:grey;
    text-decoration: none;
    color: white;
    padding-left: 55px;
   
    }
    .content>.than6>.row>.col-4>.did
    {
        color: #c5c5c5;
    }
    .content>.than6>.row>.col-4>.orange
    {
        color: #c5c5c5;
    }
    .content>.than6>.row>.col-4>.gone
    {
        color: #c5c5c5 ;
    }
   .content>.than>.row>.col>.cham
   {
       text-align: center;
      font-size:400%;
   }
   .content>.than
   {
       background: black;
   }
.content>.than>.row>.col>.lk>.call0
    {
        text-align: center;
    }
    .content>.than>.row>.col>.lk>.call1
    {
        text-align: center;
    }
    .content>.than>.row>.col>.rona>.call2
    {
        text-align: center;
    }
    .content>.than>.row>.col>.rona>.call3
    {
        text-align: center;
    }
    .content>.than>.row>.col>.rona>.lete
    {
        text-align: center;
    }
   
.content>.than>.row>.col>.rona>.lete>img
{
 
    text-align: center;
}
    .content>.than>.row>.col>.messi>.call4
    {
        text-align: center;
    }
    .content>.than>.row>.col>.messi>.call
    {
        text-align: center;
    }
    .content>.than>.row>.col>.lk>.share
{

    text-align: center;
}
.content>.than>.row>.col>.lk>.share>img
{
 
    text-align: center;
    
}




.content>.than>.row>.col>.lk>.share>img
{
    color: orangered;
}
header>.link
{
    left:  100px;
    width: 135%;
    position: absolute;
    top: 60px;
    color: white;
}


header>.link>.row>.col-4>.lavi>.laya>a
{
    text-decoration: none;
    color: orange;
}
header>.link>.row>.col-4>.lavi>.keylo>a
{
    text-decoration: none;
    color: white;
}
header>.link>.row>.col>.dongque>ul>li>a
{
    color: white;
    text-decoration: none;
}
header>.link>.row>.col>.dongque>ul>li
{
    padding-left: 45px;
    float: left;
    list-style-type: none;
    
    
}
header>.link>.row>.col>.menu>a
{

    text-decoration: none;
    color: white;

}



header>.link>.row>.col-2
{
    position: absolute;
    top: 59px;
    left: 0px;
    color: white;
  
    
}


header>.cameo>.row>.col
{
    position: absolute;
    top: 430px;
    color: white;
    left: 700px;
}
header>.track>.row>.col
{
   
    position: absolute;
    top: 529px;
    color: white;
    left: 600px;
    font-size: 400%;
   
 
}
header>.view>.row  
{
    position: absolute;
    top: 750px;
    color: white;
    left: 780px;
}
header>.view>.row.col-5
{
    color: white;
    background: orange;
}
header>.view>.row.col-2{
    background: #000;
}
.content>.than9>.ruka>.row>.col>ul
{
    list-style-type: none !important;
}
.content>.than9>.ruka>.row>.col>ul>li>.mimi
{
    width: 40px;
}
.content>.than9>.ruka>.row>.col>ul>li>.mimi>a

{
    
    text-decoration: none;
    color: white;
    background: #f55422;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}


.content>.than9>.ruka>.row>.col>ul>li>a
{
    border: 2px solid black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.content>.than9>.ruka>.row>.col
{
    padding-left: 520px;
}
header>.muiten>.row>.col>a
{
    position: absolute;
    top: 1000px;
    color: white;
    left: 770px;
}
header>.view>.row>.col-5
{
    background: #f55422;
}
header>.view>.row>.col-5>a
{
    text-decoration: none;
    color: white;
}

.content>.heat>.row>.col>.nam>.ky
{
    padding: 9px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    color: #fff !important;
    font-weight: 400;
    background: transparent;
    font-family: 'Teko', sans-serif;
    
}
.content>.heat>.row>.col>.nam
{
    font-style: normal;
    
}
footer>.back>.row>.col
{
    border-bottom: solid 1px white;
    width: 7%;
    text-align: center;
}
.content>.heat>.row>.col>.mot>.cost
{
    color: #ffc209;
}
.content>.than6>.row>.col>.lemon
{
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
      text-align: center;
      width: 400px;
      margin-left: 550px;
}
.content>.than6>.row>.col-4{
    background: #000;
}

.content>.than6
{
    background: #000;
}

header>.kien>.row>.col>img
{
     position:relative;

}
.content>.than9>.ruka>.row>.col>ul>li
{
    float: left;
    padding-left: 20px;
}


.content>.than2>.row>.col-1>.to{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
 }
   .content>.than2>.row>.col-1>.to1{
    text-align: center;
    color: #f55422 ;
    font-size: 50px;
   }
   .content>.than2>.row>.col-1>.to2{
    text-align: center;
    color: #f55422 ;
    font-size: 50px;
   }
   .content>.than2>.row>.col-1>.to5{
    text-align: center;
    color: #f55422 ;
    font-size: 50px;

   }
   .content>.than2>.row>.col-1>.tolon{
    text-align: center;
    color: #f55422 ;
   font-size:50px;

   }
   .content>.than2>.row>.col-1>.tolon1{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
   }
   .content>.than2>.row>.col-1>.tolon2{
    text-align: center;
    color: #f55422 ;
    font-size:50px;

   }
   .content>.than3>.row>.col-6>.sky>.row>.col
   {
      
       border-bottom: solid 4px white;
       width: 10%;
      
   }
   
   .content>.than3>.row>.col-6>.sky>.row>.col-10
   {
    border-bottom: solid 4px orangered;
    width: 90%;
      
       color: white;
   }
   .content>.than3>.row>.col-6>.sky0>.row>.col
   {
    border-bottom: solid 4px white;
    width: 20%;
   }
   .content>.than3>.row>.col-6>.sky0>.row>.col-10
   {
    border-bottom: solid 4px orangered;
    width: 80%;
     
       color: white;
   }
   .content>.than3>.row>.col-6>.sky1>.row>.col
   {
    border-bottom: solid 4px white;
    width: 25%;
   }
   .content>.than3>.row>.col-6>.sky1>.row>.col-10
   {
    border-bottom: solid 4px orangered;
      width: 75%;
       color: white;
      
   }
   .content>.than3>.row>.col-6>.sky2>.row>.col-1
   {
    border-bottom: solid 4px white;
    width: 5%;
   
   }
   .content>.than3>.row>.col-6>.sky2>.row>.col-10
   {
    border-bottom: solid 4px orangered;
      width: 95%;
      color: white;
   }
   .content>.than3>.row>.col-6>.skun>.row>.col
   {
    
    
    border-bottom: solid 4px white;
    width: 10%;
    
   }
   .content>.than3>.row>.col-6>.skun>.row>.col-10
   {
    border-bottom: solid 4px orangered;
      width: 90%;
       color: white;
   }
   .content>.than3>.row>.col-6>.skun0>.row>.col-10
   {
    border-bottom: solid 4px orangered;
    width: 80%;
       color: white;
      
   }
   .content>.than3>.row>.col-6>.skun0>.row>.col
   {
    border-bottom: solid 4px white;
    width: 20%;
   }
   .content>.than3>.row>.col-6>.skun1>.row>.col
   {
    border-bottom: solid 4px white;
    width: 25%;
   }
   .content>.than3>.row>.col-6>.skun2>.row>.col
   {
    border-bottom: solid 4px white;
    width: 15%;
   }
    .content>.than3>.row>.col-6>.skun1>.row>.col-10
   {
    border-bottom: solid 4px orangered;
      width: 75%;
       color: white;
   }
   .content>.than3>.row>.col-6>.skun2>.row>.col-10
   {
    border-bottom: solid 4px orangered;
      width: 85%;
       color: white;
   }


   .content>.than2>.row>.col-1>.tolon3{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
   }
   .content>.than2>.row>.col-1>.tolon4{
    text-align: center;
    color: #f55422 ;
    font-size:50px;

   }
   .content>.than2>.row>.col-1>.tolon5{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
   }

   .content>.than2>.row>.col-1>.too{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
   }
   .content>.than2>.row>.col-1>.tooo{
    text-align: center;
    color: #f55422 ;
    font-size: 400%;
    font-weight:100;
   }
.content>.than2>.row>.col-1>.tolon{
    text-align: center;
    color: #f55422 ;
}
header>.link>.row>.col>a
{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.content>.than>.row>.col>.messi>.tool
{
    text-align: center;
    
}


.content>.than>.row>.col>.tool>img
{
   
    color: red;
    
    border: 5px solid green;
    
}



header>.icon>.row
{
   
  
     position: absolute;
     top: 670px;
     left: 700px;
}

header>.icon>.row>.col>ul>li
{
    list-style-type: none;
}
header>.icon>.row>.col>ul>li>a>img
{
    background: white;
}
header>.icon>.row>.col>ul>li
{
    float: left;
    padding-left: 30px;
}




.content>.heat>.row>.col>.tino
{
    text-align: center;
    color: white;
    
    width: 400px;
    margin-left: 550px;
}

.content>.than>.row>.col>.can
{
    text-align: center;
}
.content>.than1>.row>.col>.cant
{
    text-align: center;
    color: white;
   
}

.content>.than9>.row>.col>.rule
{
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    width: 400px;
    margin-left:  550px;
    text-align: center;
    
}

.content>.than2>.row>.col-5>.tow>.row>.col-2
{
    background: #f55422;
    text-align: center;
}
.content>.than2>.row>.col-5>.five>.row>.col-2
{
    background: #f55422;
    text-align: center;
}

.content>.than2>.row>.col-5>.eight>.row>.col-2
{
    background: #f55422;
    text-align: center;
}

.content>.than2>.row>.col-5>.hit2>.row>.col-2
{
    background: #f55422;
}
.content>.than2>.row>.col-5>.hit5>.row>.col-2
{
    background: #f55422;
   
}
.content>.than2>.row>.col-5>.hit8>.row>.col-2
{
    background: #f55422;
}
.content>.than5>.row>.col>.came
{
    font-weight: 700;
    font-size: 40px;
    background: #000;
    color: white;
    text-align: center;
    width: 400px;
    margin-left: 550px;

}
.content>.than5>.row>.col>.rio
{
    font-size: 16px;
    color: #ccc;
    font-style: italic;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
}
.content>.than5>.row>.col>.bet
{
    font-size: 17px;
    color: #ffffff;
    font-weight: 500; 
    padding-right: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.content>.than5>.row>.col>.imh
{
    text-align: center;
    
}
.content>.than5>.row>.col>.son
{
    text-align: center;
    font-size: 160%;
}



header>.muiten>.row>.col>a{
    border: 1px solid black;
    width: 50px;
            line-height: 50px;
            display: inline-block;
            border-radius: 25px;
            text-decoration: none;
            text-align: center;
            background:grey;
            color: white;
}

.content>.than13>.row>.col>.min
{
    
    padding: 9px 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    color: #fff !important;
    font-weight: 400;
    background: transparent;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.content>.than5>.row>.col>.imh>img
{
    border: 4px solid white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px ;
    border-bottom-color: orangered ;
    border-left-color: orangered;
    border-top-left-radius: 50px;
}






footer>.flop>.row>.col
{
    text-align: center;
    background: #000;
}
footer>.flip>.row>.col{
    text-align: center;
    background: #000;
}

footer>.he>.row>.col>ul
{
   
    list-style-type: none;
    
}
footer>.he>.row>.col>ul>li
{
    text-align: right;
}
    

footer>.he>.row>.col>ul>li
{
    
   float: left;
   
}
footer>.he>.row>.col>ul{
    width: 22%;
    margin: auto;
   
}
footer>.he>.row>.col>ul>li{
   
   padding: 14px;
}
.content>.heat>.tino>.row>.col
{
   
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
.content>.than>.row>.col>.can
{
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    width: 400px;
    margin-left:  550px;
    text-align: center;
}
.content>.than1>.row>.col>.cant
{
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    width: 500px;
    margin-left:  500px;
}
.content>.than3>.row>.col>.cam
{
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    width: 400px;
    margin-left:  550px;
    text-align: center;
}

footer>.he>.row>.col>ul>li>a>img
{
    
    background: white;
}
footer>.he>.row>.col
{
    background: black;
    color: white;
}
footer>.row>.col>.back
{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #fff;
    width: 400px;
    margin-left: 550px;
    text-align: center;
}

footer>form>.write>.row
{
 
    width: 100%;
    padding: 15px 0px;
    color: #fff;
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #353535;
    font-weight: 400;
    background: #00000000;
}
